name: Build static JNI (Linux)

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-linux.yml
  pull_request:
    paths:
      - .github/workflows/build-linux.yml
      - ffmpeg-jni/src/ffmpegjni.c

# permissions:
#   contents: write

jobs:
  build-linux:
    name: Linux
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
          build-essential zlib1g-dev unzip

      - name: Build JNI bridge (ffmpegjni.so)
        env:
          JAVA_HOME: ${{ env.JAVA_HOME }}
        run: |
          unzip -o ${{ github.workspace }}/ffmpeg-static/linux/ffmpeg-static-linux.zip -d ${{ github.workspace }}/ffmpeg-static/linux
          chmod +x ./ffmpeg-jni/src/buildlinux.sh
          ./ffmpeg-jni/src/buildlinux.sh

      - name: Upload artifacts (linux)
        uses: actions/upload-artifact@v4
        with:
          name: linux-build
          path: |
            ffmpeg-jni/bin/linux/ffmpegjni.so

      # - name: Commit and push built binary (Linux)
      #   if: ${{ github.event_name == 'push' }}
      #   uses: stefanzweifel/git-auto-commit-action@v5
      #   with:
      #     commit_message: "chore(ci): update Linux ffmpegjni.so"
      #     file_pattern: ffmpeg-jni/bin/linux/ffmpegjni.so
      #     branch: ${{ github.ref_name }}
      